<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820231482053-vfbsp2jtc4leelkt7070cvb9vpak0ut9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820231482053-vfbsp2jtc4leelkt7070cvb9vpak0ut9</string>
	<key>API_KEY</key>
	<string>AIzaSyACd4g3o6MKqzH1suGt6OjTTdGvXcLZgzI</string>
	<key>GCM_SENDER_ID</key>
	<string>820231482053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.controlYourApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>controll-your-app</string>
	<key>STORAGE_BUCKET</key>
	<string>controll-your-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820231482053:ios:ba62b7321db44233335eac</string>
</dict>
</plist>